html,
input {
    font-family: sans-serif;
}

body {
    width: 500;
    max-width: 600;
    margin: 0px auto;
    padding: 2em;
    background-color: burlywood;
}

h1 {
    font-size: 0px;
    margin: 10;
    font-weight: bold;
    text-align: center;
    color: rgb(221, 71, 71);
}

error-ouput.email-error {
    font-size: 12px;
    font-style: italic;
    color: red;
    flex-flow: row;
    margin: auto;
}


.headerContainer {
    display: flex;
    flex-flow: column;
    align-content: center;
    background: tomato;
    font-weight: bold;
    margin-bottom: 20px;

}

form {
    margin-top: 50px;

}

div {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

label,
input,
button {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    color: red;
    padding: auto;

}

img {

    margin: auto;
}


label {
    text-align: center;
    width: 30%;
    margin-right: 2%;
}

input  {
    flex: 20px;
    flood-color: aquamarine;
    padding: 5px;
    
}

button {
    width: 20%;
    margin: 0 auto;
    color: blue;
    height: 40px;

}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
    flex-flow: row;
    margin: auto;


}

:in-range {
    font-size: medium;
    font-weight: 600;
}

@media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
    .column {
        width: 100%;
      }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
    .column {
        width: 50%;
      }
  }

  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }